<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test.datastoragedemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 以下两个权限在虚拟机上只需要第一个，在真机上需要两个，或者说在真机上两个时才能看到files文件夹 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SharedPreferenceActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ReadDataFromFilesActivity" />
        <activity android:name=".SaveDataToFilesActivity" />
        <activity android:name=".SQLiteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>